[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube Music
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=cinhimbnkkaeohfgghhklpknlkffjgod
Icon=/home/rizky/.local/share/icons/hicolor/512x512/apps/brave-cinhimbnkkaeohfgghhklpknlkffjgod-Default.png
StartupWMClass=crx_cinhimbnkkaeohfgghhklpknlkffjgod
